{% extends 'base.html' %}
{% block heading %}{% endblock %}
{% block content %}

<form method="POST" action="/login">
    <div>
       <h1>WHADDUP BEICHES</h1>
    </div>
    <div class="imgcontainer">
      <img src="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/395/news/large_news917268_777457.JPG" alt="Banner">
      <br>
    </div>
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
        <br>
        <br>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <br>
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>{{ message }}</span>
            <br>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="container" style="background-color:#f1f1f1">
      <span class="password">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  {% endblock %}
