{% extends 'base.html' %}
{% block heading %}{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-white is-8">
        <div class="box">
                <br>
                <span class="tag is-light is-large" style="white-space:normal;height:auto;">
                    <h4 class="title is-4">{{resource[0].resource_name}}</h4>
                </span>

                <h5 class="subtitle is-5">{{resource[0].category}}</h5>
                <a href="{{resource[0].file}}">
                    <span class="tag is-light is-large is-info">
                        Download
                    </span>
                </a>

                <a href="{{url_for('review', resource_id=resource[0].resource_id)}}">
                    <button class="button is-light" style="width:200px;">
                        <span class="icon">
                            <i class="fas fa-comment-alt is-pulled-left" style="margin-right:40px;"></i>
                        </span>
                        Go to reviews
                    </button>
                </a>
            <hr/>

            <h5 class="title is-5">
                Poster:
                <a href="{{url_for('profile', username=resource.teacher_id)}}">
                    <span class="tag is-light is-large is-warning">
                        {{resource[0].teacher_id}}
                    </span>
                </a>
            </h5>

            <h6 class="subtitle is-6">
                Subject:
                <span class="tag is-light is-medium">
                    {{resource[0].subject}}
                </span>
            </h6>
            <h6 class="subtitle is-6">
                Education Level:
                <span class="tag is-light is-medium">
                    {{resource[0].education_level}}
                </span>
            </h6>
            <h6 class="subtitle is-6">
                Description:
                <span class="tag is-light is-medium">
                    {{resource[0].description}}
                </span>
            </h6>
            <hr/>

            <a href="{{url_for('home')}}">
                <button class="button">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
